html {
    --body-bg-color: #e5e7eb;
    --body-color: #000;
    --content-bg-color: #fff;
    --actionbutton-color: #fff;
    --actionbutton-bg-color: #00af5c;
    --actionbutton-hover-bg-color: #009c4e;
    --page-hover-bg-color: rgba(0, 0, 0, 0.1);
}
html.dark {
    --body-bg-color: rgb(10, 10, 10);
    --body-color: #fff;
    --content-bg-color: rgb(40, 40, 40);
    --actionbutton-color: #fff;
    --actionbutton-bg-color: #004223;
    --actionbutton-hover-bg-color: rgb(0, 91, 48);
    --page-hover-bg-color: rgba(255, 255, 255, 0.1);
}

body {
    margin: 0;
    color: var(--body-color);
    background-color: var(--body-bg-color);
    transition: background-color 0.2s linear, color 0.2s linear;
}
#app,
#container-main {
    height: 100%;
}
@font-face {
    font-family: "iconfont"; /* Project id 3232227 */
    src: url("//at.alicdn.com/t/c/font_3232227_2lzlw6y34a.woff2?t=1700642355611")
            format("woff2"),
        url("//at.alicdn.com/t/c/font_3232227_2lzlw6y34a.woff?t=1700642355611")
            format("woff"),
        url("//at.alicdn.com/t/c/font_3232227_2lzlw6y34a.ttf?t=1700642355611")
            format("truetype");
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 32px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.iconfont-small {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
#navigation {
    display: flex;
}
#function-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 1;
    padding: 10px;
    font-size: 0;
    cursor: default;
}
#darkmode-toggle {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    font-size: 0;
    cursor: default;
}
.page {
    font-size: 16px;
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    margin-right: 5px;
    transition: color 0.2s, background-color 0.2s;
}
.toggle {
    font-size: 16px;
    display: inline-block;
    padding: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: color 0.2s, background-color 0.2s;
}
.page:hover,
.toggle:hover {
    background-color: var(--page-hover-bg-color);
}
.page-selected {
    color: #009c4e;
}
@media screen and (max-width: 600px) {
    #content {
        width: 100%;
        margin: 0 auto 30px auto;
    }
}
@media screen and (min-width: 600px) {
    #content {
        width: 60%;
        margin: 0 auto 70px auto;
        margin: 10px auto 30px auto;
    }
}
#content {
    transition: all 250ms ease-in-out;
    background-color: var(--content-bg-color);
    border-radius: 20px;
    transition: background-color 0.2s linear, color 0.2s linear;
}
.topInfo {
    text-align: center;
    font-size: 3em;
    font-family: "思源黑体 CN", "思源黑体", "黑体", sans-serif;
    font-weight: lighter;
}
#pageInfo,
.division {
    margin: 0 auto 20px auto;
    text-align: center;
    font-size: 2em;
    font-family: "思源黑体 CN", "思源黑体", "黑体", sans-serif;
    font-weight: lighter;
}
#filter {
    display: flex;
    margin-bottom: 5px;
    justify-content: center;
    font-size: 0.7em;
    color: #cc9900;
}
.passagebutton {
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    border-top: 2px solid #cccccc;
    padding: 5px;
}
.titlebutton {
    font-family: "思源黑体 CN", "思源黑体", "黑体", sans-serif;
    font-weight: lighter;
    font-size: 1.5em;
    margin: 0;
}
.datetime {
    margin: 0.2em 0;
    color: #cc9900;
    font-size: 0.7em;
}
.tag {
    display: inline-block;
    margin-left: 5px;
    border-radius: 100px;
    padding: 2px 5px 2px 5px;
    background-color: rgba(211, 160, 0, 0.1);
    border: solid 1px rgba(211, 160, 0, 0.5);
    transition: color 0.2s linear, background-color 0.2s linear;
}
.tag-clickable {
    cursor: pointer;
}
.tag-selected {
    background-color: rgb(211, 158, 0);
    color: #fff;
}
.cnt-txt {
    padding: 15px;
}
.actionbar {
    margin: 0;
    border-top: solid 1px #cccccc;
    padding: 10px;
}
.action-button {
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    background-color: var(--actionbutton-bg-color);
    border: none;
    color: var(--actionbutton-color);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC,
        Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC,
        WenQuanYi Micro Hei, sans-serif;
}
.action-button:hover {
    background-color: var(--actionbutton-hover-bg-color);
}
#read {
    margin-bottom: 0px;
    padding: 10px;
}
.katex-display {
    overflow-x: auto;
    overflow-y: hidden;
}
.beian {
    background-color: #222222;
    bottom: 0;
    height: 30px;
    width: 100%;
    text-align: center;
}
.beiana {
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: inline;
}
.tagManager {
    padding: 5px;
}
.tag-in-editor {
    color: #cc9900;
    cursor: pointer;
    font-size: 0.7em;
}
